/*ESTO ES PARA CAMBIAR LA FUENTE DEL TEXTO*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20 px;
    margin: 0;
    transition: background-color 0.3s ease; /*Suaviza el cambio de color*/
}

/*BORDES DE LA TABLA*/
table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*SOMBRA PARA QUE SE VEA AESTHETIC*/
}

th, td {
    border: 2px solid #333333;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/*Colores iniciales*/
.verde {background-color: green;}
.amarillo {background-color: yellow;}
.azul {background-color: blue;}
.rojo {background-color: red;}   
.rosa {background-color: pink;} 

/*Intercambio de Color. Cambio tuve que buscar porque las declaraciones de arriba eran muy fuertes entonces agregué td para arreglarlo*/

td.verde:hover {background-color: white; color: green; }
td.amarillo:hover {background-color: black; color: yellow; }
td.azul:hover {background-color: white; color: blue; }
td.rojo:hover {background-color: white; color: red; }
td.rosa:hover {background-color: black; color: pink; }

/*NOTA ADHESIVA*/
.sticky-note {
    position: fixed;
    top: 20px;
    right: 10px;
    background-color: #ffeaa7;
    color: #2d3436;
    padding: 150px;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15); /*SOMBRA DE PAPEL*/
    transform: rotate(3deg); /*INCLINA AESTHETIC*/
    border-left: 5px solid #fdcb6e; /*DOBLEZ*/
    z-index: 1000; /*FLOTA*/
}

/*CUANDO LA PANTALLA SEA PEQUE*/
@media (max-width: 600px) {
    body{
        background-color: #dfe6e9;
    }
}

/*CUANDO LA PANTALLA SEA GRANDE*/
@media (max-width: 601px) {
    body{
        background-color: #fffde7;
    }
}

/*MIS EXTRA*/
/*efecto al pasar el cursor letras*/
td:first-child {
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
/*Cuando pasas el cursor sobre una celda de alguno de los nombres se dezplaza a la derecha*/
td:first-child:hover {
    background-color: #2d3436;
    color: #ffffff;
    padding-left: 20px;
}

/*ANIMAR NOTA*/
.sticky-note {
    animation: caerNota 0.8s cubic-bezier(0.175,0.885, 0.32, 1.275) forwards;
}

@keyframes caerNota {
    0% {
        top: -200 px;
        transform: rotate(-20deg);
    }
    100% {
        top: 20px; 
        transform: rotate(3deg);
    }
}

h1 {
    font-size: 2.5rem;
    background: linear-gradient(45deg, pink, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
    display: inline-block;
}


